# Имена библиотек не чувствительны к регистру

# Транслит
transliterate
# Выполнение фоновых задач
celery[redis]
# Генерация документации и типизация методов
spectree
# Тестирование
pytest

# Работа с кэшем
# hiredis нужно установить для более быстрой работы, он будет
# использован по умолчанию
redis[hiredis]
types-redis

# Константы с кодами для изменение цветов в консоли
colorama
types-colorama

# ORM (Object Relational Mapping) -- объекто-реляционное отображение.
# Инструмент, позволяющий работать с базами данных, используя ООП.
sqlalchemy[mypy]
flask-sqlalchemy
# Миграции (обновление структуры базы данных при обновлении схемы)
flask-migrate

# Работа с формами
flask-wtf
# Валидатор для электронной почты отдельно
email_validator

# Работа с авторизацией
flask-jwt-extended
# Авторизация с использованием сессии
flask-login
